*.pyc
*.idea
*.DS_Store
*.vscode
*.csv
*.pt
*.json
*.sqlite3
chemprop.egg-info
docs/build
./test_models/*
./result/*
./predict/*
.github
.pytest_cache/*
data.tar.gz
*.txt
*.xlsx
preds
ifg
cell_regression
cell_classification
test_args
test_models
result
pyCheckmol
ifg
docs
stastics
tox21_checkpoints
bad_smiles.txt
chemprop/web/*
zinc15
*.png
*.img
*.csv










